<h1>Angular Assignment</h1>

<form [formGroup]="forms" (ngSubmit)="submitForm()">
  <div class="form-container">
    <input
      maxlength="10"
      formControlName="startName"
      type="text"
      placeholder="Start point"
    />
    <div class="error-message">
      <p
        *ngIf="forms?.controls?.['startName']?.errors?.['required'] && forms?.controls?.['startName']?.touched"
      >
        Start point is required
      </p>
      <p *ngIf="forms?.controls?.['startName']?.errors?.['minlength']">
        Start point must be at least 3 characters
      </p>
    </div>

    <input
      maxlength="10"
      formControlName="endName"
      type="text"
      placeholder="End point"
    />
    <div class="error-message">
      <p
        *ngIf="forms?.controls?.['endName']?.errors?.['required'] && forms?.controls?.['endName']?.touched"
      >
        End point is required
      </p>
      <p *ngIf="forms?.controls?.['endName']?.errors?.['minlength']">
        End point must be at least 3 characters
      </p>
    </div>

    <button type="submit">Submit</button>
  </div>

  <div class="journey-line-wrapper">
    <div class="journey-line">
      <div
        class="journey-step"
        *ngFor="let detJourney of detailsJourney; let i = index"
      >
        <div
          *ngIf="!detJourney?.isArrowLineContinued && i !== 0"
          class="straightline"
          [ngClass]="{ elipse: detJourney?.isSameDropPickTerm }"
        >
          ---------------------
        </div>
        <div
          *ngIf="detJourney?.isArrowLineContinued && i !== 0"
          class="line"
          [ngClass]="{ elipse: detJourney?.isSameDropPickTerm }"
        >
          --------------------->
        </div>

        <div
          class="journey-box"
          [ngClass]="{ elipsewrapper: detJourney?.isSameDropPickTerm }"
        >
          <div
            [ngClass]="
              detJourney?.isSameDropPickTerm
                ? 'samecircle'
                : detJourney?.isArrowLineContinued
                ? 'diffcircle'
                : 'circle'
            "
            class="circle"
          ></div>
          <div class="journey-label">
            {{ detJourney?.start?.slice(0, 3)?.toUpperCase() }} -
            {{ detJourney?.end?.slice(0, 3)?.toUpperCase() }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="legend-container">
    <div class="legend-item">
      <span class="legend-line same-route"></span>
      <p>Same route (last end point and current start are same)</p>
    </div>
    <div class="legend-item">
      <span class="legend-line different-route"></span>
      <p>Different route (last end point and current start are different)</p>
    </div>
    <div class="legend-item">
      <span class="legend-line consecutive-route"></span>
      <p>Same two or more consecutive routes</p>
    </div>
  </div>
</form>
